<div class="m-b-16">
  <mat-slide-toggle [(ngModel)]="toggleChecked">是否切换路由后跳转到dashboard </mat-slide-toggle>
</div>
<mat-button-toggle-group [(ngModel)]="currentRole" (change)="onPermissionChange()">
  <mat-button-toggle [value]="item.key" *ngFor="let item of permissionsOfRole | keyvalue">{{
    item.key
  }}</mat-button-toggle>
</mat-button-toggle-group>
<p>
  当前角色: <code>{{ currentRole | json }}</code>
</p>
<p>
  当前权限: <code>{{ currentPermissions | json }}</code>
</p>
<div *ngxPermissionsOnly="['ADMIN', 'GUEST2']">只有'ADMIN', 'GUEST2'才能看到</div>
<div *ngxPermissionsExcept="['MANAGER']">除了 MANAGER 都能看到</div>
