ngxPermissionsOnly,ngxPermissionsExcept 如果是内置标签，要以[]形式使用，如果是html标签，要以*使用
<p>
  <button (click)="addPermission('admin')">添加权限 [ admin ]</button>
  <button (click)="addPermission('guest')">添加权限 [ guest ]</button>
  <button (click)="addPermission('ok')">添加权限 [ ok ]</button>
  <button (click)="removePermission('admin')">移除权限 [ admin ]</button>
  <button (click)="removePermission('guest')">移除权限 [ guest ]</button>
  <button (click)="removePermission('ok')">移除权限 [ ok ]</button>
</p>
<br />-----------------------只有权限canRead才能看到 start<br />
<ng-template [ngxPermissionsOnly]="['canRead']">
  <p class="bg-green-500 text-white">只有权限canRead才能看到</p>
</ng-template>
<p class="bg-green-500 text-white" *ngxPermissionsOnly="['canRead']">只有权限canRead才能看到</p>
----------------------- end<br />
<br />-----------------------只有权限admin才能看到-----------------------start<br />
<ng-template permissions [ngxPermissionsOnly]="['admin']">
  <p class="bg-green-500 text-white">只有权限admin才能看到</p>
</ng-template>
<ng-template [ngxPermissionsOnly]="['admin']" [ngxPermissionsExcept]="'hhhhh'">
  <p class="bg-green-500 text-white">只有权限admin才能看到</p>
</ng-template>
----------------------- end <br />
<br />-----------------------只有权限guest才能看到----------------------- start<br />
<ng-template permissions [ngxPermissionsOnly]="['guest']">
  <p class="bg-purple-500 text-white">只有权限guest才能看到</p>
</ng-template>
----------------------- end <br />
<br />-----------------------除了权限ok外能看到----------------------- start<br />
<ng-template
  permissions
  [ngxPermissionsExcept]="['ok']"
  (permissionsAuthorized)="authorized()"
  (permissionsUnauthorized)="unAuthorized()"
>
  <p class="bg-orange-500 text-white">除了权限ok外能看到</p>
</ng-template>
----------------------- end<br />
<br />----------------------- else then 的用法-----------------------start<br />
<div *ngxPermissionsOnly="['admin']; else a; then: b">仅有admin吗？是-》a，否-》b</div>
<div *ngxPermissionsExcept="['admin']; else a; then: b">除了admin吗？是-》a，否->b</div>
<ng-template #a>
  <p class="bg-gray-900 text-white">else a</p>
</ng-template>
<ng-template #b>
  <p class="bg-gray-300">then: b</p>
</ng-template>
----------------------- end<br />
<p>
  当前权限： <code>{{ getPermissions() | json }}</code>
</p>
